@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
    font-family: 'Poppins', sans-serif;
}

html, body {
    overflow-x: hidden; /* Gorizontal skrollni butunlay o'chiradi */
    margin: 0;
    padding: 0;
  }
  

#load {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: url(../images/loader.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px;
    z-index: 10000;
    backdrop-filter: blur(100px);
    background-color: rgba(255, 255, 255, 0.7);
}



::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    position: fixed;
    top: 20px;
    right: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #01BDAA;
    border-radius: 50px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    transition: 1s all;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    line-height: 60px;
    z-index: 200;
    width: 100%;
    padding: 0 100px;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo a {
    /* line-height: 80px; */
    font-size: 30px;
    font-weight: 900;
    background: url(../images/green.svg);
    background-size: cover;
    background-clip: text;
    color: transparent;
}

header nav ul {
    margin-top: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
}

header nav ul li a {
    color: #E6E6E6;
    text-decoration: none;
    font-weight: 500;
    transition: 1s all;
}

header nav ul li a:hover {
    color: #00AE6C;
}

header nav ul li a.entrance {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #01BDAA;
    width: 100%;
    padding: 12px 25px;
    border: 2px solid #01BDAA;
    border-radius: 10px;
    background-color: transparent;
    transition: 1s;
    cursor: pointer;
}

header nav ul li a.entrance:hover {
    background-color: #01BDAA;
    color: white;
}


#check {
    display: none;
}

#menu {
    color: white;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 27%;
    display: none;
    cursor: pointer;
    transition: 1s all;
}

#menu:hover {
    color: #00AE6C;
}


@media(max-width: 1080px) {
    header nav ul li:nth-child(6) {
        display: none;
    }
}

/* Tablet */
@media(max-width: 1024px) {
    header {
        padding: 0 50px;
    }

    header nav {
        align-items: start;
    }

    header nav ul {
        flex-direction: column;
        gap: 0px;
        align-items: center;
        width: 100%;
        height: 100vh;
        top: -10px;
        right: -100%;
        justify-content: center;
        position: fixed;
        background: rgba(0, 0, 0, 0.8);
        transition: 1s all ease-in-out;
        z-index: 100;
    }

    #check:checked~ul {
        right: 0;
    }

    #menu {
        display: block;
        z-index: 1000;
    }
}

/* Mobile */
@media(max-width: 768px) {
    header {
        padding: 0 20px;
    }
}


/* book */

.book {
    margin: 100px 0;
}

.book a {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #01BDAA;
    padding: 12px 25px;
    border: 1px solid #01BDAA;
    border-radius: 10px;
    background-color: transparent;
    transition: 1s;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: max-content;
    margin-top: 30px;
    text-decoration: none;
}

.book a:hover {
    color: white;
    background: #01BDAA;
}

.book h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    color: #141414;
}

.book-column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.book-column .book-col {
    flex-basis: 33%;
    transition: 1s all;
    filter: drop-shadow(1px 1px 5px #01bdaa);
    border-radius: 20px;
    cursor: pointer;
}

.book-col:hover {
    background-color: #ECFEF7;
}

.book-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
    padding: 20px 10px;
    height: 350px;
}

.book-col img {
    filter: invert(45%) sepia(59%) saturate(3568%) hue-rotate(132deg) brightness(96%) contrast(101%);
}

.book-col h3 {
    font-size: 25px;
    font-weight: 700;
    color: #141414;
}

.book-col p {
    font-size: 16px;
    color: #141414;
    opacity: 0.5;
}

/* tablet */
@media(max-width:1024px) {
    .book-column {
        flex-wrap: wrap;
        justify-content: start;
        align-items: start;
        gap: 20px;
    }

    .book-col {
        min-width: 40%;
    }

    .border-img {
        display: none;
    }
}

/* mobile */

@media(max-width: 768px) {
    .book-column {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .border-img {
        display: block;
    }

    .book-col {
        width: 100%;
    }

    .book h1 {
        font-size: 30px;
        font-weight: 700;
    }

    .book-col h3 {
        font-size: 20px;
        font-weight: 700;
    }
}


/* addition services */

.add-services-column {
    width: 100%;
    display: flex;
    gap: 20px;
}

.addition-services h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    color: #141414;
}

.addition-services h3 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    color: #141414;
}

.add-services-col {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: #ECFEF7;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: calc(100% / 4);
    gap: 30px;
    border: 2px solid #01BDAA;
    position: relative;
    filter: drop-shadow(1px 1px 1px #01bdaa);
    transition: 1s;
    cursor: pointer;
    min-height: min-content;
}

.add-services-col:hover {
    background-color: #d3fffb;
    border: 2px solid transparent;
    filter: none;
}

.add-services-col-top {
    min-height: 50%;
    width: 100%;
}

.add-services-col-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.add-services-col-center {
    padding: 0 0px;
}

.add-services-col-center h6 {
    font-size: 12px;
    background: #01BDAA;
    padding: 10px;
    width: max-content;
    color: white;
    font-weight: 800;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    transition: 1s all;
}

.add-services-col-center h6:hover {
    background: white;
    color: #01BDAA;
}

.add-services-col-center ul li {
    padding: 0;
    font-size: 16px;
    margin: 15px 0;
}

.add-services-col-center ul li i {
    font-size: 16px;
    color: #01BDAA;
    margin-right: 10px;
}

/* tablet */

@media(max-width: 1024px) {

    .add-services-column {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .add-services-col {
        width: calc(40%);
    }
}

/* phone */

@media(max-width: 768px) {

    .add-services-column {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .add-services-col {
        width: 100%;
    }

    .add-services-col-top img {
        width: 100%;
        height: 200px;
    }

    .add-services-col-center h6 {
        font-size: 10px;
    }

    .addition-services h1 {
        font-size: 30px;
    }
}


/* footer */

footer {
    margin-top: 100px;
    margin-bottom: 30px;
}

footer .container {
    background: #f9f9f9;
    border-radius: 40px;
    padding: 40px;
}

.footer-column {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
}

.footer-col:nth-child(1) {
    flex-basis: 50%;
}

.footer-col {
    flex-basis: 25%;
}

.footer-col .logo a {
    font-size: 30px;
    font-weight: 900;
    background: url(../images/green1.avif);
    background-size: cover;
    background-clip: text;
    color: transparent;
}

.footer-col h1 {
    font-size: 30px;
    font-weight: 600;
    filter: drop-shadow(1px 1px 1px #01BDAA);
    color: #01BDAA;
}

.footer-col p {
    font-size: 16px;
    color: #666E6D;
}

.footer-col form {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.footer-col form p {
    font-size: 18px;
    font-weight: 600;
    color: #666E6D;
}

.footer-col form input {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 17px;
    margin-bottom: 10px;
    width: 70%;
    background: #FFFFFF;
    transition: 1s;
    outline: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.footer-col form input::placeholder {
    color: #666E6D;
    font-size: 16px;
}

.footer-col form input:focus {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.footer-col form button {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #01BDAA;
    width: 100%;
    padding: 12px 25px;
    border: 1px solid #01BDAA;
    border-radius: 10px;
    background-color: transparent;
    transition: 1s;
    cursor: pointer;
    width: 40%;
}

.footer-col form button:hover {
    background: #01BDAA;
    color: #FFFFFF;
}

.footer-col h2 {
    font-size: 25px;
    font-weight: 600;
    color: #000D0C;
}

.footer-col ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.footer-col ul li {
    margin: 5px 0;
}

.footer-col ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #666E6D;
    transition: 1s all;
    cursor: pointer;
}

.footer-col ul li a:hover {
    color: #01BDAA;
}

/* tablet */

@media(max-width: 1024px) {
    .footer-column {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-col form {
        margin-top: 20px;
    }
}

/* mobile */

@media(max-width: 768px) {
    footer .container {
        padding: 20px;
    }

    .footer-column {
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }

    .footer-col h1 {
        font-size: 25px;
    }

    .footer-col p {
        font-size: 14px;
    }

    .footer-col form {
        margin-top: 10px;
    }

    .footer-col form input {
        width: 100%;
    }

    .footer-col form button {
        width: 100%;
    }
}